*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
a{
  padding: 15px;
  margin-left: -20px;
}
h1{
  font-size: 20px;
  margin-bottom: 0px;
}
p{
  margin-top: 10px;
}
form{
  margin-top: 10px;
}
form input{
  border: 2px solid #F2F2F2;
  border-left: none;
  border-right: none;
  padding: 13px 5px 13px 5px;
  font-weight: bold;
  font-size: 16px;
}
form button{
  border: none;
  background: #0065FC;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 15px 12px 14px 9px;
  margin-left: -3px;
}
form i{
  background: #F2F2F2;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 15px 19px 17px 18px;
  margin-right: -5px;
  margin-bottom: -5px;
}
.search{
  display: flex;
  flex-direction: column;
  padding-left: 90px;
}
.brand{
  position: relative;
  padding-left: 80px;
  padding-top: 20px;
}
.brand img{
  max-width: 50%;
  margin-left: 5px;
  margin-top: 10px;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.right-side{
  display: flex;
  padding: 50px;
}
.nav-wrapper .right-side div{
  margin-right: 50px;
  font-size: 16px;
}
.nav-link-wrapper a{
  color: black;
  text-decoration: none;
}
.nav-link-wrapper a:hover{
  padding-top: 46px;
  border-top: 3px solid;
  color: #0065FC;
}
.filters-col:hover{
  background-color: #F2F2F2;
}
h2{
  display: inline-block;
}
#mobile{
  display: none;
}
.filters{
  padding-left: 90px;
}
.filters h2{
  top: 34px;
  position: relative;
  margin: 0px;
  font-size: 16px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}
.filters-col{
  display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 30px;
  align-items: center;
  height: 47px;
  margin-left: 15px;
}
.filters-col i{
  display: flex;
  align-items: center;
  border: transparent;
  border-radius: 50px;
  padding: 15px;
  background-color: #DEEBFF;
  color: #0065FC;
  margin: 11px 0px 11px -3px;
}
.filters p{
  margin-top: 30px;
}
.info{
  display: flex;
  align-items: baseline;
}
.info p{
  padding-left: 10px;
  font-size: 16px;
}
.info i{
  padding: 3px 6px 3px 7px;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  color: #0065FC;
  font-size: 12px;
}
.filters-col h3{
  padding-left: 10px;
  font-size: 16px;
}
#cost{
  flex-basis: 142px;
}
#family{
  flex-basis: 190px;
}
#romantic{
  flex-basis: 145px;
}
#pets{
  flex-basis: 180px;
}
.fas.fa-money-bill-wave{
  padding: 16px 12px 13px 12px;
}
.fas.fa-child{
  padding: 15px 17px 15px 17px;
}

/*----- Tablets -----*/

@media(min-width: 768px) and (max-width: 992px){
  h1{
      font-size: 16px;
  }
}

/*----- Phones -----*/

@media(max-width: 768px){
  h1{
      font-size: 18px;
  }
  form{
      margin-top: 10px;
      font-size: 14px;
      margin: 10px 0px -15px -3px;
  }
  a{
      font-size: 14px;
  }
  p{
      font-size: 14px;
      padding-top: 20px;
  }
  .info p{
    font-size: 15px;
  }
  form button{
      border-radius: 15px;
      padding: 10px 20px 10px 15px;
      margin-left: -15px;
  }
  form input{
      border: 2px solid #F2F2F2;
      border-left: none;
      border-right: none;
      padding: 14px 15px 11px;
  }
  form i{
      padding: 16px 19px 18px 15px;
      margin-right: -5px;
      margin-bottom: -5px;
  }
  .filters{
    margin-left: -16px;
  }
  .row{
    display: flex;
    margin-left: -50px;
    margin-top: 30px;
  }
  .filters-col{
    margin-top: 10px;
    margin-left: 14px;
  }
  .filters-col h3{
    font-size: 14px;
  }
  .filters h2{
    top: 30px;
    position: relative;
    margin-left: -32px;
    font-size: 16px;
  }
  .nav-link-wrapper{
      margin: 0px 10px;
      padding-left: 10px;
  }
  .brand{
      margin-top: -10px;
      margin-right: 40px;      
  }
  .nav-wrapper{
      flex-direction: column;
      text-align: center;
  }
  .right-side{
      justify-content: center;
      padding: 25px 0px 15px 30px;
  }
  .brand img{
      max-width: 50%;
  }
  .search{
      display: flex;
      position: relative;
      flex-direction: column;
      margin-left: -48px;
      padding: 10px 90px;
  }
  .fas.fa-search{
      background: #0065FC;
      padding: 0px;
  }
  .search p{
      margin-top: -10px;
  }
  .info{
    margin-left: -37px;
    margin-top: -25px;
  }
  #computer{
      display: none;
  }
  #mobile{
      display: flex;
  }
  .nav-link-wrapper a{
        border-bottom: 3px solid #F2F2F2;
        margin: 0px -10px 0px -60px;
        padding: 0px 40px 10px 80px;
  }
  .nav-link-wrapper a:hover{
    padding-top: 0px;
    border-top: none;
    border-bottom: 3px solid #0065FC;
  }
  #cost{
    order: 1;
    flex-basis: 130px;
  }
  #romantic{
    order: 2;
    flex-basis: 150px;
  }
  #family{
    order: 3;
    flex-basis: 185px;
  }
  #pets{
    order: 4;
    flex-basis: 205px;
  }
  br{
    display: none;
  }
}