html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
}

/*----- logo + Navigation -----*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 30px;
}

@media(max-width: 768px) {
  header {
      flex-direction: column;
  }

  h1 {
      font-size: 20px;
  }
}

header a img {
  width: 80%;
}

@media(max-width: 768px) {
  header a img {
      margin-left: 20%;
      margin-bottom: 10%;
  }
}

nav a {
  text-decoration: none;
  color: black;
  padding: 65px 25px 0;
  font-size: 18px;
}

@media(max-width: 768px) {
  nav {
      display: flex;
  }

  nav a {
      text-decoration: none;
      border-bottom: 3px solid #F2F2F2;
  }

  nav a:nth-child(1) {
      padding: 0 10px 10px;
  }
  
  nav a:nth-child(2) {
      padding: 0 40px 10px;
  }
}

nav a:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

@media(max-width: 768px) {
  nav a:hover {
      border-top: none;
      color: #0065FC;
      border-bottom: 3px solid #0065FC;
  }
}

/*----- H1 + Search -----*/

.search {
  margin: 0 40px;
}

h1 {
  margin-bottom: 0;
}

form {
  margin-top: 30px;
}

@media(max-width: 768px) {
  form {
      margin-top: 20px;
  }
}

.fas.fa-map-marker-alt {
  background: #F2F2F2;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 19px;
  font-size: 20px;
}

@media(max-width: 768px) {
  .fas.fa-map-marker-alt {
      padding: 16px;
      font-size: 18px;
  }
}

form input {
  position: relative;
  right: 5px;
  bottom: 2px;
  border: 2px solid #F2F2F2;
  border-left: none;
  border-right: none;
  font-weight: bold;
  padding: 18px;
}

@media(max-width: 768px) {
  form input {
      padding: 14px 9px;
      font-size: 15px;
      bottom: 1px;
  }
}

input:focus {
  outline: none;
}

form button {
  position: relative;
  right: 9px;
  bottom: 2px;
  border: none;
  background: #0065FC;
  color: white;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 20px 20px;
}

@media(max-width: 768px) {
  form button {
      right: 20px;
      padding: 15px;
      border-radius: 15px;
  }
}

.fas.fa-search {
  display: none;
}

@media(max-width: 768px) {
  .fas.fa-search {
      display: contents;
  }
  span {
      display: none;
  }
}

/*----- Filters -----*/

.filters {
  display: flex;
  flex-flow: row wrap;
  margin: 30px 40px 0;
  align-items: center;
}

@media(max-width: 768px) {
  .filters {
      display: inline-block;
      margin: 0px 40px;
  }
}

.filters h2 {
  font-size: 20px;
}

.filters-row {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}

@media(max-width: 768px) {
  .filters-row {
      width: auto;
  }
  .filters-row div:nth-child(1) {
      order: 1;
      width: 40%;
  }
  .filters-row div:nth-child(2) {
      order: 3;
      width: 55%;
  }
  .filters-row div:nth-child(3) {
      order: 2;
      width: 45%;
  }
  .filters-row div:nth-child(4) {
      order: 4;
      width: 65%;
  }
}

.filters-col {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 4px solid #F2F2F2;
  border-radius: 50px;
  margin: 0 0 0 2%;
  padding: 0 2% 0 0;
}

@media(max-width: 768px) {
  .filters-col {
      margin: 0 4% 4% 0;
      padding: 0;
      height: 50px;
  }
}

.filters-col h3 {
  margin-left: 5%;
}

@media(max-width: 768px) {
  .filters-col h3 {
      font-size: 15px;
      margin: 0;
  }
}

.filters-col i {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  color: #0065FC;
  background-color: #DEEBFF;
  overflow: hidden;
  margin-left: -5%;
}

@media(max-width: 768px) {
  .filters-col i {
      height: 45px;
      width: 45px;
      margin: -5% 0 -5% -2%;
  }
}

.filters-col:hover{
  background-color: #F2F2F2;
}

.info {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding-top: 15px;
}

.info i {
  color: #0065FC;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top: 3px;
  font-size: 14px;
  margin-right: 10px;
}

@media(max-width: 768px) {
  .info i {
      margin: 5% 0 -3% 0;
  }

  .info p {
      margin: -5% 0 0 10%;
  }
}

@media(max-width: 768px) {
  br {
      display: none;
  }
}

/*----- Accommodations -----*/

.accommodations {
  margin: 0 40px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media(max-width: 768px) {
  .accommodations {
      flex-flow: column-reverse wrap;
      align-items: center;
      margin: 10% 0 0 0;
  }
}

/*----- Accommodations in Marseille -----*/

.acc-mars {
  display: flex;
  flex-flow: column wrap;
  width: 67%;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 0 1%;
}

@media(max-width: 768px) {
  .acc-mars {
      width: 100%;
      background-color: transparent;
  }
}

.acc-mars h2 {
  margin: 4% 0 1% 2%;
}

.acc-mars h3 {
  margin: 1% 0 5% 2%;
}

@media(max-width: 768px) {
  .acc-mars h3 {
      margin: 5% 0 3% 2%;
  }
}

.acc-mars a {
  text-decoration: none;
  color: black;
}

.mars-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 29%;
  overflow: hidden;
  margin: 2% 0;
}

@media(max-width: 768px) {
  .card {
      width: 95%;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.container {
  padding: 0 3%;
}

.container h4 {
  margin: 3% 0;
}

.container p {
  margin: 3% 0;
}

.fas.fa-star {
  color: #0065FC;
}

#aub-grey {
  color: #F2F2F2;
}

#mou-grey {
  color: #F2F2F2;
}

#mer-grey {
  color: #F2F2F2;
}

#me-grey {
  color: #F2F2F2;
}

#pan-grey {
  color: #F2F2F2;
}

/*----- Most Popular -----*/

aside {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 30%;
}

@media(max-width: 768px) {
  aside {
      border-radius: 0;
      width: 100%;
  }
}

.popular {
  display: flex;
  flex-flow: column wrap;
}

@media(max-width: 768px) {
  .popular {
      padding-bottom: 10%;
  }
}

.pop-head {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 7% -7% -3% -7%;
}

.pop-head a {
  color: black;
}

.pop-head h2 {
  margin: 0 10% 0 0;
}

.fas.fa-chart-line {
  font-size: 22px;
}

.pop-col {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.popular-card {
  display: flex;
  flex-direction: row;
  width: 80%;
  border: 5px solid white;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  overflow: hidden;
  margin: 8% 0 0 0;
}

@media(max-width: 768px) {
  .popular-card {
      width: 90%;
  }
}

.popular-card img {
  object-fit: cover;
  width: 35%;
  height: 180px;
}

@media(max-width: 768px) {
  .popular-card img {
      width: 38%;
      height: 150px;
  }
}

.popular-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.popular-container {
  margin: 0 0 0 6%;
}

#bnb-grey {
  color: #F2F2F2;
}

#tou-grey {
  color: #F2F2F2;
}

/*----- Activities -----*/

.activities {
  margin: 0 40px;
}

@media(max-width: 768px) {
  .activities {
      margin: 10% 0 0 0;
      height: 1760px;
  }
}

@media(max-width: 768px) {
  .activities h2 {
      margin: 0 0 10% 2%;
  }
}

.act-mars {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 400px;
}

@media(max-width: 768px) {
  .act-mars {
      flex-flow: row wrap;
      justify-content: space-around;
  }
}

.act-mars h4 {
  margin: 2% 0 0 5%;
}

.port {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 400px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .port {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.port img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}

@media(max-width: 768px) {
  .port img {
      height: 205px;
  }
}

.port:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.fort {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 220px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .fort {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.fort img {
  object-fit: cover;
  height: 175px;
  width: 100%;
}

@media(max-width: 768px) {
  .fort img {
      height: 205px;
  }
}

.fort:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.island {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 140px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .island {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.island img {
  object-fit: cover;
  height: 95px;
  width: 100%;
}

@media(max-width: 768px) {
  .island img {
      height: 205px;
  }
}

.island:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.national {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 400px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .national {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.national img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}

@media(max-width: 768px) {
  .national img {
      height: 205px;
  }
}

.national:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.notre {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 160px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .notre {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.notre img {
  object-fit: cover;
  height: 115px;
  width: 100%;
}

@media(max-width: 768px) {
  .notre img {
      height: 205px;
  }
}

.notre:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.longchamp {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  height: 200px;
  width: 23%;
  overflow: hidden;
}

@media(max-width: 768px) {
  .longchamp {
      height: 250px;
      width: 95%;
      margin-bottom: 10%;
  }
}

.longchamp img {
  object-fit: cover;
  height: 155px;
  width: 100%;
}


@media(max-width: 768px) {
  .longchamp img {
      height: 205px;
  }
}

.longchamp:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/*----- Footer -----*/

footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #F2F2F2;
  margin-top: 50px;
}

h5 {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul a {
  text-decoration: none;
  color: black;
}

.about {
  margin: 10px 20% 10px 40px;
}

.about li {
  margin-bottom: 10px;
}

.our-acc {
  margin: 10px 20% 10px 40px;
}

.our-acc li {
  margin-bottom: 10px;
}

.assistance {
  margin: 10px 10px 10px 40px;
}

.assistance li {
  margin-bottom: 10px;
}